h3{
  color:#1177bf
}

.onDemandHours{
  color: #ff0000
}

.reservedHours{
  color:#0ea753
}

.data {
   text-align: center;
}

td {
  text-align: left;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.mat-sort-header-container {
  align-items: center;
}

