<h3>
  <div>RESERVATION COVERAGE</div>
</h3>
<br>
<div style="overflow-x:auto;">
  <table class="table">

    <thead>
      <tr>
        <th scope="col">INSTANCE TYPE</th>
        <th scope="col">ON DEMAND HOURS</th>
        <th scope="col">RESERVED HOURS</th>
        <th scope="col">TOTAL HOURS</th>
        <th scope="col">COVERAGE</th>
      </tr>
    </thead>
    <tbody *ngFor="let rc of ReservationCoverage" style="margin-top:11px;" >
      <tr>
        <th scope="row">{{rc.instanceType}}</th>
        <td class="onDemandHours data" >{{rc.onDemandHours |number:'0.2-2'}}</td>
        <td class="reservedHours data" >{{rc.reservedHours|number:'0.2-2'}}</td>
        <td class ="data">{{rc.onDemandHours + rc.reservedHours |number:'0.2-2'}}</td>
        <td class ="data">{{rc.reservedHours / (rc.onDemandHours + rc.reservedHours) *100 |number:'0.2-2'}}%</td>
      </tr>
    </tbody>
  </table>
</div>
