<h3>
  <div>RESERVATION COVERAGE</div>
</h3>
<br>
<div style="overflow-x:auto;">
  <table class="table"  matSort (matSortChange)="sortData($event)">
      <tr>
        <th >INSTANCE TYPE</th>
        <th mat-sort-header="onDemandHours">ON DEMAND HOURS</th>
        <th mat-sort-header="reservedHours">RESERVED HOURS</th>
        <th >TOTAL HOURS</th>
        <th >COVERAGE</th>
      </tr>
    <tbody *ngFor="let rc of ReservationCoverage" style="margin-top:11px;" >
      <tr>
        <th scope="row">{{rc.instanceType}}</th>
        <td class="onDemandHours data" >{{rc.onDemandHours |number:'0.2-2'}}</td>
        <td class="reservedHours data" >{{rc.reservedHours|number:'0.2-2'}}</td>
        <td class ="data">{{rc.onDemandHours + rc.reservedHours |number:'0.2-2'}}</td>
        <td class ="data">{{rc.reservedHours / (rc.onDemandHours + rc.reservedHours) *100 |number:'0.2-2'}}%</td>
      </tr>
    </tbody>
  </table>
</div>
